

.add-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .addproduct-itemfield,
  .addproduct-price {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .addproduct-itemfield p,
  .addproduct-price p {
    margin: 0 0 5px 0;
    font-size: 16px;
    color: #333;
  }
  
  .addproduct-itemfield input,
  .addproduct-price input{
    width: 95%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .add-product-selector{
    width: 30%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .addproduct-price {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .addproduct-itemfiled {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .addproduct-thumnail-img {
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  .addproduct-thumnail-img:hover {
    background-color: #74aae1;
  }
  
  .addproduct-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .addproduct-button:hover {
    background-color: #0056b3;
  }
  @media(max-width:800px){
    .add-product{
        width: auto;
        padding: 30px;
        margin: 20px;

    }
  }